In [4]:
import pandas as pd; import numpy as np;

In [8]:
veri = pd.DataFrame({"a":["bir","iki"]*3,"b":[1,1,2,3,2,3]})
veri

     a  b
0  bir  1
1  iki  1
2  bir  2
3  iki  3
4  bir  2
5  iki  3

## Duplicated : 

- Satırların tekrar edip etmediğini kontrol eden `boolean` türünde `series` yapısında değer döndürür.

In [10]:
veri.duplicated()

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

## Drop_duplicates :
- Tekrar eden satırları kaldırıp `DateFrame` yapısında değer döndürür.

In [11]:
veri.drop_duplicates()

     a  b
0  bir  1
1  iki  1
2  bir  2
3  iki  3

### Not:
- `duplicated()` ve `drop_duplicates()` metodu tüm stunları kontrol ederek tekrar eden satırları bulur. Belirli stunlarda tekrar eden değerleri bulmak için `[<stun1_adi>, ... , <stunN_adi>]` parametresi verilir.
- Kontrole tersten başlamak istersek `keep="last"` parametresi verilir. Bu sayede tarama işlemi son satırdan ilk satıra doğru yapılır.

In [17]:
veri["c"] = range(6)
veri

     a  b  c
0  bir  1  0
1  iki  1  1
2  bir  2  2
3  iki  3  3
4  bir  2  4
5  iki  3  5

In [22]:
veri.duplicated(["a"],keep="last")

0     True
1     True
2     True
3     True
4    False
5    False
dtype: bool