In [1]:
import pandas as pd; import numpy as np;

## Mapping
- `.map()` metotu ya bir fonksiyon ya da sözlük yapısı kabul eder.
- Aşağıdaki örnekte `sinif` yapısını veri setine eklemek istediğimizde veri setimizde bulunan `isim` stunundaki verilerle büyük küçük harf uyuşmazlığı söz konusu. Bunu düzeltmek için `ad` isminde bir değişekene `isim` stununu alarak `sinif` yapısının içerisine uygun hale getiriyoruz. Bunun için `str`modülü içerisinde bulunan `capitalize()` metodu kullanıldı.
- Son aşama olarak veri seti içerisine `sube` adında yeni bir stun ekleyerek içerisine `sinif` sözlük yapısını dahil etmiş olduk.

In [5]:
vs = pd.DataFrame({
    "isim":["Ali","can","Nur","efe","Ata"],
    "puan":[100,75,95,65,70]
})
vs

  isim  puan
0  Ali   100
1  can    75
2  Nur    95
3  efe    65
4  Ata    70

In [14]:
sinif = {"Can":"B","Nur":"A","Ali":"A","Efe":"B","Ata":"A"}

In [15]:
ad = vs["isim"].str.capitalize()

In [16]:
vs["sube"] = ad.map(sinif)

In [17]:
vs

  isim  puan sube
0  Ali   100    A
1  can    75    B
2  Nur    95    A
3  efe    65    B
4  Ata    70    A