In [1]:
import pandas as pd; import numpy as np;

## Metin ile Çalışma
- Veri setinde metinlerle çalışma yapabilmek için hazır string metotlar kullanılır. Bunun için `.str` modülü ile fonksiyonlara erişim sağlanır. Fakat bunun modül sadece Series yapısında veya index bazında işlem yapılabilir. DataFrame üzerinden modüle erişim yoktur.

In [2]:
veri = ["ali","Berk","DENİz",np.nan,"zEYNEP"]

In [4]:
isim = pd.Series(veri)
isim

0       ali
1      Berk
2     DENİz
3       NaN
4    zEYNEP
dtype: object

In [5]:
isim.str.capitalize()

0       Ali
1      Berk
2    Deni̇z
3       NaN
4    Zeynep
dtype: object

In [21]:
dataset = pd.DataFrame({
    "isim":["ALi","MehMET","YAKuP"],
    "soyisim":["yARALI","koÇovAlı","dErYA"]
})
dataset

     isim   soyisim
0     ALi    yARALI
1  MehMET  koÇovAlı
2   YAKuP     dErYA

In [25]:
for i in range(3):
    dataset.iloc[i] = dataset.iloc[i].str.capitalize()
dataset

     isim   soyisim
0     Ali    Yarali
1  Mehmet  Koçovalı
2   Yakup     Derya