In [69]:
import pandas as pd; import numpy as np; import sys

# Veri Seti Okuma/Yazma

## Alt Başlıklar :

- ## txt-csv dosya okuma

    - Dosyadaki veriler `virgül(,)` ile ayrıldıysa `.read_csv()` metotu kullanılır. 
    - Dosyadaki veriler `tab` ile ayrıldıysa `.read_txt()` metotu kullanılır. 
    - Dosya uzantısı `.xlx, .xlsx` ise `.read_excel()` metotu kullanılır. 
    - Dosyadaki stunlar sabit uzunlukta ise `.read_fwf()` metotu kullanılır. 
    - Dosya uzantısı `.json` ise `.read_json()` metotu kullanılır. 
    - Dosya `html tablosu` ise `.read_html()` metotu kullanılır. 
- ## veri setini okuturken kullanılacak opsiyonlar
    
    - `.txt` uzantılı dosyalarda verileri `tab` boşlukları ile ayrılmamış, `virgül(,)` kullanılmışssa `sep = ","` parametresi verilir.
    - Veri setinde bir başlık bulunmuyor ise ilk satırı tablo başlığı olarak algılamaması için `header = None` parametresi verilir.
    - Veri setinin başlıklarına isim vermek için `names = [<stun1_adi>, ..., <stunN_adi>]` parametresi verilir.
    - Herhangi bir stunu index olarak kullanmak istersek `index_col = <stun_adi>` parametresi verilir.
    - Açıklama satırlarını okutmamak için `skiprows = [<index1>, ...., <indexN>]` parametresi verilir.
    - Belirli stunları okutmak için `usecols = [<stun1_index>, ..., <stunN_index>]` parametresi verilir.
- ## eksik veri var olan veri setini okuma
    - Okutulan veri setinde olan eksik verileri bulmak için `pd.isnull(<veri_yapısı>)` parametresi kullanılır.
    - Okutulan veri setinde belirli değerler `NaN` olarak işlenmesi için `na_values = [<deger_1>, ..., <deger_N>]` parametresi verilir. Fakat bu parametrenin verilmesi durumunda girilen değerler tüm veri setinde aranıp bulunan her bir değer `NaN` olarak değiştirilecektir. Bunu önlemek için `Dictionary` yapısını kullanarak bu parametreyi besleyebiliriz. Örneğin;
        ```
            eksik_veriler = {"puan":[-5], "cinsiyet":["n.a","Efe"]}
            vs = pd.read_table("DataSets/data5.txt", sep=",", 
                  na_values=eksik_veriler)
        ```
    yapısı kullanılabilir.
    
- ## veri setini yazdırma
    - `virgül(,)` ile ayrılmış `.csv` formatında veri seti yazdırmak için `.to_csv(<dosya_adi>)` metodu kullanılır.
    - Veri setindeki verileri farklı bir sembol ile ayırmak isteniyorsa `sep = <sembol>` parametresi verilir.
    - İndex stununu veya stun başlıklarını yazdırmak istenmiyorsa `index = False` veya `header = False` parametresi verilir.
    - Belirli stunlar yazdırılmak isteniyorsa `columns = [<stun1_adi>, ..., <stunN_adi>]` parametresi veriliri.

In [76]:
eksik_veriler = {"score":[-5], "sex":["n.a","Tom"]}
vs = pd.read_table("DataSets/data5.txt", sep=",", 
            na_values=eksik_veriler)

In [77]:
vs

   name  score  sex
0   Tim   80.0  NaN
1   Tom    NaN  NaN
2  Kate   70.0  NaN
3   NaN   90.0    K
4   Kim    NaN    K

In [78]:
pd.isnull(vs)

    name  score    sex
0  False  False   True
1  False   True   True
2  False  False   True
3   True  False  False
4  False   True  False

In [79]:
vs.to_csv("DataSets/deneme.csv", sep="+", index= False, columns=["name","score"])

In [80]:
deneme = pd.read_csv("DataSets/deneme.csv")
deneme

  name+score
0   Tim+80.0
1       Tom+
2  Kate+70.0
3      +90.0
4       Kim+